<a href="https://colab.research.google.com/github/AlxeverCodeX/git-github/blob/master/Quiz%20_Stage_%20B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# reading dataset

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'
df = pd.read_csv(url)

In [4]:
df

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [5]:
df.head(6)

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097
5  2016-01-11 17:50:00          50      40  ...        4.8  44.919484  44.919484

[6 rows x 29 columns]

In [7]:
df.shape

(19735, 29)

In [8]:
sum(df.isna().sum())

0

In [10]:
#dropping the date and light colmun
df.drop(columns=(['date', 'lights']), axis=1, inplace=True)

In [11]:
# comfirming if the date and lights been dropped
df.head(6)

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097
5          50  19.89  46.026667  ...        4.8  44.919484  44.919484

[6 rows x 27 columns]

In [13]:
# 12

x = df['T2']
y = df['T6']

In [14]:
array = np.array([x])
x_shaped = array.reshape(-1, 1)

In [15]:

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_shaped, y, test_size=0.3)

In [17]:
#import LinearRegression() 
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()

linear_model.fit(x_train, y_train)

predicted_values = linear_model.predict(x_test)

In [19]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.64

In [23]:
#13
#we normalise first
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scale_fit = scaler.fit_transform(df)
normalised_data = pd.DataFrame(scale_fit, columns=df.columns)
features_df = normalised_data.drop('Appliances', axis=1)
appliance_target = normalised_data['Appliances']

In [24]:
#we split into traning and testing set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, appliance_target, test_size=0.3, random_state=42)

In [25]:

#import LinearRegression() from scikit.learn
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()


linear_model.fit(x_train, y_train)

var_to_get = linear_model.predict(x_test)

In [26]:

# MAE 
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, var_to_get)
round(mae, 2)

0.05

In [51]:
#14
#RSS
rss = np.sum(np.square(y_test - var_to_get))
round(rss, 2)

45.35

In [32]:
#15
# Root mean square error
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, var_to_get))
round(rmse, 3)

0.088

In [33]:
#16
#Coefficient of determination
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, var_to_get)
round(r2_score, 2)

0.15

In [52]:
#function for the mae, rss, rmse and r2_score
def get_metrics(test, predicted_value):
    
    from sklearn.metrics import r2_score
    from sklearn.metrics import  mean_squared_error as mse
    
    print("Mean absolute error: %.2f" % np.mean(np.absolute(test - predicted_value)))
    print("Residual sum of squares (MSE): %.2f" % np.sum((test - predicted_value) ** 2))
    print("Root mean square error (RMSE): %.3f" % np.sqrt(mse(test, predicted_value)))
    print("R2-score: %.2f" % r2_score(test, predicted_value))

In [53]:
# time to call function we created so we can be clarified
get_metrics(y_test, var_to_get)

Mean absolute error: 0.05
Residual sum of squares (MSE): 45.35
Root mean square error (RMSE): 0.088
R2-score: 0.15

In [44]:
#17

# function for feature weights
def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
linear_model_weights.sort_values(by='Linear_Model_Weight')

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

In [45]:
# 18
#Training a Ridge Regression
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
ridge_predicted_y = ridge_reg.predict(x_test)

In [46]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, ridge_predicted_y))
round(rmse, 3)

0.088

In [47]:
# the answer is no

In [48]:
#19
#for feature selection and Lasso Regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [49]:
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
lasso_weights_df

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

In [50]:
#20 
# New rmse with the lasso regression
#lasso predicted values
lasso_predicted_y = lasso_reg.predict(x_test)
#Root mean square error for lasso
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, lasso_predicted_y))
#rounding it down to 3 decimal places
round(rmse, 3)

0.094